.glow-on-hover {
    border: none;
    outline: none;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    color: #fff;
    position: relative;
    z-index: 0;
    border-radius: 16px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 50s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 6px;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    color: #fff;
    background-color: #ffffffd0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 16px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.custom-card {
    z-index: 10; 
    transition: all .3s ease-in-out;
}

.custom-card:hover{
	animation: beat 1.75s infinite alternate; 
	transform-origin: center;
}

@keyframes beat{
	to { transform: scale(.98); }
}

.card-label {
    animation: flash alternate;
    animation-delay: 1s;
    animation-duration: 3s;
}

.card-top-label {
    background-image: linear-gradient(135deg, rgba(24,42, 115) 0%, rgba(33,138, 174) 69%, rgba(32,167, 172) 89% )!important;
}

.card-top-label-cancel {
    background-image: linear-gradient(135deg, rgb(120, 3, 3) 0%, rgb(160, 43, 19) 69%, rgb(227, 8, 8) 89% )!important;
}